<% provide(:title, "Help")%>

<h1>Help</h1>
<p>
  Get help on Ruby on Rails tutorial at the
  <a href="http:railstutorial.org/"><em>Rails Tutorial help page</em></a>
  To get help on the sample app see the
  <a href="http:railstutorial.org/book">Ruby on Rails Tutorial</a>
</p>
