<%= provide(:title, @user.name)%>
<div class="row">
<aside class="col-md-4">
  <h1>
    <section class="user_info">
      <%= gravatar_for @user %>
      <%= @user.name %>
    </section>
  </h1>
</aside>
</div>
