<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhart1.com/">Michael Hart1</a>
  </small>

  <nav>
    <ul>
      <li><%= link_to "About", about_path%></li>
      <li><%= link_to "Contact", contact_path%></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>

</footer>
